core
dev*.yaml
eru-core
core.yaml
core.yml
.ropeproject
build.yaml
*.pyc
*.rpm
*.deb
*.itr
default.etcd/*
vendor/*
clean.sh
.vscode/*
*.test
test*.py
set*
test.yaml
local.yaml
tools/test*.go
tools/update
tools/fix.go
tools/check*.go
cscope.*
*~
.DS_Store
tools/updatev4.go
*.swp
dist/*
non-live.yaml
__debug_bin/*
coverage.out
core.wal
