bind: ":5002"
agent_port: "12345"
appdir: "/home"
backupdir: "/data/backup"
permdir: "/mnt/mfs/permdirs"
etcd:
    - "http://127.0.0.1:2379"
etcd_lock_prefix: "/eru-core/_lock"
statsd: "statsd2.ricebook.net:8125"

zone: "test-zone"
image_cache: 2
global_timeout: 300

git:
    public_key: "***REMOVED***"
    private_key: "***REMOVED***"
    token: "***REMOVED***"
    scm_type: "gitlab"

docker:
    log_driver: "json-file"
    network_mode: "bridge"
    cert_path: ""
    hub: "hub.ricebook.net"
    hub_prefix: ""
    build_pod: ""
    local_dns: true

scheduler:
    lock_key: "_scheduler_lock"
    lock_ttl: 10
    maxshare: -1
    sharebase: 10

syslog:
    address: "udp://localhost:5111"
    facility: "daemon"
    format: "rfc5424"
